{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
    body {
        background-image: url("{% static 'portfolio/imagenes/balonmano principal.jpg' %}"); 
        background-size: cover;
  
    }

    .form-container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        width: 100%;
        max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        text-align: center;
        color: #333;
    }

    button {
        width: 100%;
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>

<div class="form-container">
    <h2>Perfil de usuario</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>
</div>
{% endblock %}

background-image: url("{% static 'portfolio/imagenes/balonmano principal.jpg' %}");